/* Estilos Generales */
/* Paleta de colores: https://coolors.co/palette/264653-2a9d8f-e9c46a-f4a261-e76f51 */

/* Configuración general del cuerpo del documento */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    color: #333;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.55;
    text-align: center;
}

/* Estilos para encabezados de nivel 1 (H1) */
h1 {
    color: #f1f1f1;
    font-family: 'Open Sans', monospace;
}

/* Estilos para porciones de texto dentro de H1 */
h1 span {
    color: #F56E28; /* Color asociado a TOEFL */
}

/* Estilos para encabezados de nivel 2 (H2) */
h2 {
    color: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
}

/* Estilos para encabezados de nivel 3 (H3) */
h3 {
    text-align: center;
    color: #333;
    text-align: center;
}

/* Estilos para encabezados de nivel 4 (H4) */
h4 {
    text-align: left;
    color: #333;
    margin-left: 2%;
    margin-right: 2%;
}

/* Estilos para los botones */
.boton {
    width: fit-content; 
    display: block;
    margin: 0px auto 0px; /* Margen superior e inferior, centrado horizontalmente */
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #007e83;
    color: #007e83;
    transition: background-color 0.3s, color 0.3s;
}

/* Efecto de cambio de color al pasar el mouse sobre el botón */
.boton:hover {
    background-color: #2A9D8F;
    color: #f1f1f1;
}

/* Estilos para formularios */
form {
    background-color: #333;
    color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: fit-content;
    margin: 20px auto;
}

label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

/* Estilos para tipos de entrada en formularios */
input[type="text"],
input[type="email"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
}

/* Estilos para el botón de envío en formularios */
input[type="submit"] {
    background-color: #007e83;
    color: #f1f1f1;
    border: none;
    cursor: pointer;
}

/* Efecto de cambio de color al pasar el mouse sobre el botón de envío */
input[type="submit"]:hover {
    background-color: #006e83;
}

/* Estilos para listas no ordenadas */
ul {
    list-style: none;
    padding: 0;
}

/* Estilos para elementos de lista */
li {
    color: #007e83;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Estilos para imágenes */
img {
    max-width: 480px;
    height: auto;
}

/* Contenedor con alineación central */
.contenedor {
    text-align: center;
}

/* Estilos para secciones */
.seccion {
    margin-bottom: 30px;
}

/* Estilos específicos para la estructura de la página */
body {
    margin: 0;
    padding: 0;
}

/* Configuración del contenedor principal */
.contenedor {
    display: flex;
}

/* Estilos para la sección de cabecera */
.fondo-cabecera {
    background-color: #007e83;
    padding: 20px;
}

/* Configuración de las secciones (izquierda y derecha) */
.seccion {
    flex: 1;
    text-align: center;
    padding: 8px;
    position: relative;
}

/* Configuración de la sección izquierda */
.seccion.izquierda {
    flex: 2;
}

/* Configuración de la sección derecha */
.seccion.derecha {
    background-color: #F56E28; /* Color de fondo para la sección derecha */
    color: #f9f9f9; /* Color de texto para la sección derecha */
    height: 100%;
}

/* Estilos para imágenes dentro de las secciones */
.seccion img {
    width: 100%;
}

/* Estilos para la imagen en la sección izquierda */
.seccion.izquierda img {
    max-width: 240px; /* Ancho máximo de la imagen en la sección izquierda */
    width: 100%;
    height: auto;
}

/* Estilos para la imagen en la sección derecha */
.seccion.derecha img {
    max-width: 480px; /* Ancho máximo de la imagen en la sección derecha */
    width: 100%;
    height: auto;
    padding: 8px;
}

/* Estilos para el botón */
.boton {
    display: block;
    margin-top: 2px;
    position: relative;
    background-color: #f9f9f9;
    border: 2px solid #f9f9f9;
    color: #F56E28;
}

/* Efecto de cambio de color al pasar el mouse sobre el botón */
.boton:hover {
    background-color: #F56E28;
    color: #f1f1f1;
}

/* Estilos para el botón con Pulsación */
.pulse {
    animation: pulse 1s infinite; /* Animación de pulsación */
}

/* Animación de pulsación */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* Estilos para la barra de navegación horizontal */
nav {
    display: flex;
    justify-content: center;
    background-color: #014548;
    padding: 10px 0;
}

/* Configuración de la lista de la barra de navegación */
nav ul {
    display: flex;
    margin: 0;
}

/* Configuración de los elementos de la lista de la barra de navegación */
nav ul li {
    margin-right: 20px;
    padding: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
}

/* Estilos para los enlaces de la barra de navegación */
nav a {
    text-decoration: none;
    color: #007e83;
    font-weight: bold;
    font-size: 16px;
}
