/* Estilos Writing */
/* Paleta de colores: https://coolors.co/palette/264653-2a9d8f-e9c46a-f4a261-e76f51 */

/* Configuración general del cuerpo del documento */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 8px;
    color: #333;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.55;
    text-align: center;
}

/* Estilos para encabezados de nivel 1 (H1) */
h1 {
    color: #f1f1f1;
    font-family: 'Open Sans', monospace;
}

/* Estilos para porciones de texto dentro de H1 */
h1 span {
    color: #F56E28; /* Color asociado a TOEFL */
}

/* Estilos para encabezados de nivel 2 (H2) */
h2 {
    color: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
}

/* Estilos para encabezados de nivel 3 (H3) */
h3 {
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

/* Estilos para los botones */
.boton {
    display: block;
    margin: 10px auto 20px; /* Margen superior e inferior, centrado horizontalmente */
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #007e83;
    border: 2px solid #007e83;
    color: #f1f1f1;
    transition: background-color 0.3s, color 0.3s;
}

/* Efecto de cambio de color al pasar el mouse sobre el botón */
.boton:hover {
    background-color: #006e83;
    color: #f1f1f1;
}

/* Estilos para listas no ordenadas */
ul {
    list-style: none;
    padding: 0;
}

/* Estilos para elementos de lista */
li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Estilos para imágenes */
img {
    max-width: 480px;
    height: auto;
}

/* Contenedor con alineación central */
.contenedor {
    text-align: center;
}

/* Estilos para secciones */
.seccion {
    margin-bottom: 30px;
}

/* Estilos específicos para la estructura de la página */
body {
    margin: 0;
    padding: 0;
}

/* Configuración del contenedor principal */
.contenedor {
    display: flex;
    height: 100vh;
}

/* Estilos para la sección de cabecera */
.fondo-cabecera {
    background-color: #007e83;
    padding: 10px;
}

/* Configuración de las secciones (izquierda y derecha) */
.seccion {
    flex: 1;
    text-align: center;
    padding: 8px;
    position: relative;
}

/* Configuración de la sección izquierda */
.seccion.izquierda {
    flex: 2;
}

/* Configuración de la sección derecha */
.seccion.derecha {
    background-color: #F56E28; /* Color de fondo para la sección derecha */
    height: 100%;
    text-align: center;
}

/* Estilos para textos en las secciones izquierda y derecha */
.seccion.izquierda h2,
.seccion.izquierda h3 {
    color: #333; /* Color de texto para la sección izquierda */
}

.seccion.derecha h2,
.seccion.derecha h3 {
    color: #f1f1f1; /* Color de texto para la sección derecha */
}

/* Estilos para imágenes dentro de las secciones */
.seccion img {
    width: 100%;
}

/* Estilos para el botón */
.boton {
    display: block;
    margin-top: 2px;
    position: relative;
}

/* Efecto de pulsación para el botón */
.pulse {
    animation: pulse 1s infinite; /* Animación de pulsación */
}

/* Animación de pulsación */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
