/* Estilos index */
/* Paleta de colores: https://coolors.co/palette/264653-2a9d8f-e9c46a-f4a261-e76f51 */

/* Configuración general del cuerpo del documento */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.55;
    text-align: center;
}

/* Estilos para encabezados de nivel 1 (H1) */
h1 {
    color: #f1f1f1;
    font-family: 'Open Sans', monospace;
}

/* Estilos para porciones de texto dentro de H1 */
h1 span {
    color: #F56E28; /* Color asociado a TOEFL */
}

/* Estilos para encabezados de nivel 2 (H2) */
h2 {
    color: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
}

/* Estilos para encabezados de nivel 3 (H3) */
h3 {
    text-align: center;
}

/* Estilos para los botones */
.boton {
    width: 240px; 
    display: block;
    margin: 10px auto 20px; /* Margen superior e inferior, centrado horizontalmente */
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 2px;
    position: relative;
    background-color: #f9f9f9;
    border: 2px solid #f9f9f9;
    color: #F56E28;
}

/* Efecto de cambio de color al pasar el mouse sobre el botón */
.boton:hover {
    background-color: #F56E28;
    color: #f1f1f1;
}

/* Estilos para imágenes */
img {
    max-width: 480px;
    height: auto;
}

/* Estilos para secciones */
.seccion {
    flex: 1;
    text-align: center;
    padding: 8px;
    position: relative;
    margin-bottom: 30px;
}

/* Configuración del contenedor principal */
.contenedor {
    display: flex;
    height: 50vh;
    text-align: center;
}

/* Estilos para la sección de cabecera */
.fondo-cabecera {
    background-color: #007e83;
    padding: 20px;
}

/* Configuración de las secciones (izquierda y derecha) */

/* Configuración de la sección izquierda */
.seccion.izquierda {
    flex: 2;
}

/* Estilos para encabezados de nivel 3 (H3) en la sección izquierda */
h3 {
    color: #333;
    text-align: center;
}

/* Estilos para encabezados de nivel 4 (H4) */
h4 {
    text-align: left;
    color: #333;
}

/* Configuración de la sección derecha */
.seccion.derecha {
    background-color: #F56E28; /* Color de fondo para la sección derecha */
    color: #f9f9f9; /* Color de texto para la sección derecha */
    height: 100%;
}

/* Estilos para imágenes dentro de las secciones */
.seccion img {
    width: 100%;
}

/* Estilos para el botón con Pulsación */
.pulse {
    animation: pulse 1s infinite; /* Animación de pulsación */
}

/* Animación de pulsación */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
