<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Prac-TOEFL®</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles_index.css') }}">
</head>
<body>
    <div class="cabecera">
        <div class="fondo-cabecera">
            <h1>Welcome to Prac-<span>TOEFL®</span>!</h1>
            <h2>The best online tutor to prepare your TOEFL® certification</h2>
        </div>
    </div>
    <div class="contenedor">
        <div class="seccion izquierda">
            <div class="seccion-contenido">
                <h3>START WRITING NOW</h3>
                <p>Learn to synthesize information and write structured essays.</p>
                <img src="{{ url_for('static', filename='images/writing.jpg') }}" alt="writing_img">
            </div>
        </div>

        <div class="seccion derecha">
            <h3> </h3>
            <h3> </h3>
            <h3>Log in to access all utilities</h3>
            <button class="boton pulse" id="loginBtn">Log in</button>
            <script src="{{ url_for('static',filename='js/script.js') }}"></script>

            <h3>You do not have an account? Create one now</h3>
            <button class="boton pulse" id="signupBtn">Sign up</button>
        </div>
    </div>
</body>
</html>
