<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Prac-TOEFL®</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles_logsign.css') }}">
</head>
<body>
    <div class="cabecera">
        <div class="fondo-cabecera">
            <h1>Welcome to Prac-<span>TOEFL®</span>!</h1>
            <h2>The best online tutor to prepare your TOEFL® certification</h2>
        </div>
    </div>
    <div class="contenedor">
        <div class="seccion-contenido">
            <h3>Successful registration</h3>
            <p>Please click on the following button and log in with your email and password.</p>
            <button class="boton pulse" id="loginBtn">Log in</button>
            <script src="{{ url_for('static',filename='js/script.js') }}"></script>
        </div>
    </div>
</body>
</html>